{% extends 'base.html.twig' %}

{% block title %}Workers{% endblock %}

{% block body %}
    <p class="text-center fs-3 fw-semibold margin-top20px">This is my first symfony project. <br>I think he's not bad.</p>
{% endblock %}
