@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/*Обнуляющий стиль*/
*{padding: 0; margin: 0; border: 0; font-family: Montserrat !important; font-weight: 500 !important;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav, footer, header, aside{display: block;}
html, body{height: 100%; width: 100%; line-height: 1; font-size: 16px !important;  -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none !important;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/*=====================================================================================================*/

.mar-top-20{
    margin-top: 20px;
}

.mar_0{
	margin: 0 !important;
}

.table th a, .table th{
	color: black !important;
	font-weight: 600 !important;
	text-align: center;
}

tr{
	text-align: center;
}

.table{
	margin: 20px 0 0 0 !important;
}

.create_worker_form{
	display: block;
	width: 450px;
	margin: 0 auto !important;
}

.form-label{
	margin-top: 20px !important;
	width: inherit !important;
}

.form-control{
	width: inherit !important;
}

.center{
	display: block !important;
	margin: 20px auto 0;
}